<%= render 'books/list', book: Book.new %>

<h1>Books</h1>
<th></th>
<th>Title</th>
<th>Opinion</th>

<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <%= book.title%>
  <%= book.body %>
</div>
<% end %>